<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-input-box (todoAdded)="onTodoAdded($event)"></app-input-box>

      <div class="container" style="padding-top: 10px">
        <div class="card">
          <div class="card-body">
            <p class="lead"><strong>ToDo Items:</strong></p>
            <hr />
            <app-todos
              *ngFor="let todo of todos"
              [todo]="todo"
              (deleteRequest)="deleteTodo($event)"
            ></app-todos>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
